.modal-overlay {
  position: fixed;
  inset: 0; /* top, right, bottom, left = 0 */
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 95%;
  /* max-width: 90%; */
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  position: relative;
  transform: scale(0.8);
  animation: scaleUp 0.2s forwards;
}

.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

@keyframes scaleUp {
  to {
    transform: scale(1);
  }
}
